/* body{
    background:linear-gradient(white,white);
    height: 100vh;
    text-align: center;

 }.clock{
        width: 25%;
        height: 60%;
        background:white;
        position:absolute;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 20px;

    }
    /* .time{
      size: 300vh;
    }  */ 
    .analog-clock{
        text-align: center;
        margin-top: 30vh;

    }
    #clock-face{
        stroke: black;
        stroke-width: 2px;
        fill:white;

    }
    #h-hand,#m-hand,#s-hand,#s-tail{
        stroke: black;
        stroke-linecap: round;
    }
    #h-hand{
        stroke-width: 3px;
    }
    #m-hand{
        stroke-width: 2px;
    }
    #s-hand{
        stroke-width: 1px;
    }
    